<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Авторизация</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>

    <body>
        <div class='v_div'>
        <header>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class = 'header_content'>
                <a class = 'HeaderBtn' href="https://google.com">Game<b>S</b></a>
           
                <div class = 'h_container Margin'>
                    <a class = 'HeaderBtn' href="https://google.com">Каталог</a>
                    <a class = 'HeaderBtn' href="https://google.com">Бибилиотека</a>
                    <a class = 'HeaderBtn' href="https://google.com">Сообщество</a>
                    <a class = 'HeaderBtn' href="/auth">Войти</a>
                </div>
            </div>
        </header>
        
        <main class = 'ElementsCenter'>
            <form id="registerForm" method="post">
                <div class='v_div2'>
                <input type="text" name="login" placeholder="Логин" size="45px" minlength="4" maxlength="32" required>
                <input type="password" id="password" placeholder="Пароль" size="45px" minlength="6" maxlength="128" required>
                <button type="submit" value="Submit" size="30px" value="Register">
                </div>
            </form>

            <form style = 'display:none' id="loginForm" method="post">
                <div class='v_div2'>
                <input type="text" name="login" placeholder="Логин" size="45px" minlength="4" maxlength="32" required>
                <input type="password" id="password" placeholder="Пароль" size="45px" minlength="6" maxlength="128" required>
                <button type="submit" value="Submit" size="30px" value="Login">
                </div>
            </form>

            <input type='button' id='ch_btn' value='Вход'> 

            
        </main>


        <footer>
            <h1>© 2022-2025 Shvap. All rights reserved.</h1>
        </footer>
        </div>
    </body>

    <script>
        let LoginForm = document.getElementById('registerForm')
        let EnterForm = document.getElementById('loginForm')
        let ChBtn = document.getElementById('ch_btn')

        ChBtn.addEventListener('click', function () {
            if (ChBtn.value == 'Вход') {
                LoginForm.style.display = 'none';
                EnterForm.style.display = 'block';
                ChBtn.value = 'Регистрация';
            } else if (ChBtn.value == 'Регистрация') {
                LoginForm.style.display = 'block';
                EnterForm.style.display = 'none'; 
                ChBtn.value = 'Вход';
            }
        })

        document.getElementById('registerForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const formData = {
                login: e.target.login.value,
                password: e.target.password.value
            };

            try {
                const response = await fetch(window.location.origin + "/api/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const result = await response.json();
                
                if (response.ok) {
                    alert('Регистрация успешна!');
                } else {
                    alert(`Ошибка: ${result.error}`);
                }
            } catch (error) {
                alert('Ошибка сети: ' + error.message);
            }
    });

        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const formData = {
                login: e.target.login.value,
                password: e.target.password.value
            };

            try {
                const response = await fetch(window.location.origin + "/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const result = await response.json();
                
                if (response.ok) {
                    window.location.href = '/home'
                } else {
                    alert(`Ошибка: ${result.error}`);
                }
            } catch (error) {
                alert('Ошибка сети: ' + error.message);
            }
    });
    </script>
</html>