<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Авторизация</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>

    <body>
        <div class='v_div'>
        <header>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class = 'header_content'>
                <a class = 'HeaderBtn' href="https://google.com">Game<b>S</b></a>
           
                <div class = 'h_container Margin'>
                    <a class = 'HeaderBtn' href="/home">Каталог</a>
                    <a class = 'HeaderBtn' href="https://google.com">Бибилиотека</a>
                    <a class = 'HeaderBtn' href="/newgame">Сообщество</a>
                    <a class = 'HeaderBtn' href="/auth">Войти</a>
                </div>
            </div>
        </header>
        
        <main class = 'ElementsCenter'>
            <div class = 'CenterItems'>
            <form id="registerForm" method="post">
                <div class='v_div_center'>
                <input type="text" name="display" placeholder="Отображаемое имя" size="45px" minlength="4" maxlength="32" required>  
                <input type="text" name="login" placeholder="Логин" size="45px" minlength="2" maxlength="32" required>
                <input type="password" id="password" placeholder="Пароль" size="45px" minlength="6" maxlength="128" required>
                <button type="submit" value="Submit" size="30px" value="Register" id = 'sub2'><label for='sub2'>Отправить данные</label>
                </div>
            </form>

            <form style = 'display:none' id="loginForm" method="post">
                <div class='v_div_center'>
                <input type="text" name="login" placeholder="Логин" size="45px" minlength="2" maxlength="32" required>
                <input type="password" id="password" placeholder="Пароль" size="45px" minlength="6" maxlength="128" required>
                <button type="submit" value="Submit" size="30px" value="Login" id = 'sub'> <label for='sub'>Отправить данные</label>
                </div>
            </form>

            <input type='button' id='ch_btn' value='Уже есть аккаунт? Войти'>
            </div>
        </main>

        <footer>
            <h1>© 2022-2025 Shvap. All rights reserved.</h1>
        </footer>
        </div>

        <script type="text/javascript" src="/static/js/auth.js"></script>
    </body>

</html>