{{ template "Base.html" . }}

{{ define "title" }}Главная, игр: {{ .BannerCount }}{{ end }}

{{ define "content" }}
    <main>
        <div class="ElementsCenter FirstRazdel">
            <div class = 'TextDiv'>
                <h1 class="big_artilce">Что это за раздел?</h1>
                <p> Добро пожаловать в каталог игр! В этом разделе вы найдете разнообразные развлечения — от приключений до головоломок. Каждая игра подарит вам новые эмоции и возможность подтянуть свои навыки. 
                    <br><br>
                    Присоединяйтесь к нам, играйте и делитесь впечатлениями!
                </p>
            </div>
        </div>
        <div>

        <div class="h_container Margin StickyPos">
            <h1>Категории:</h1>
            <p><input type = 'checkbox'>Стратегия</p>
            <p><input type = 'checkbox'>Экшен</p>
            <p><input type = 'checkbox'>Приключение</p>
            <p><input type = 'checkbox'>Симулятор</p>
            <p><input type = 'checkbox'>2D</p>
            <p><input type = 'checkbox'>3D</p>
            <p><input type = 'checkbox'>Хоррор</p>
            <p><input type = 'checkbox'>Спорт</p>
        </div>

        <div class="ElementsCenter">
            <h1 class = 'big_artilce'>
                Каталог игр:
            </h1>
            <br>
            <div class ='h_container GamesContainer'>
            {{ range $Banner := .Banners }} 
                <div class="Game">
                    <a href="{{ .Url }}" title="Ссылка на страницу!">
                        <img src="{{ .ImageName }}" alt="Картинка">
                        <h1>{{ .Title }}</h1>
                        <p>{{ .Description }}</p>
                        <p>Автор: {{ .Author }}</p>
                    </a>
                </div>
            {{ end }}
            </div>
            <div id = 'Btns'>
                <input type = 'button' value = '' id = 'btn1'>
                <input type = 'button' value = '' id = 'btn2'>
                <input type = 'button' value = '{{ .Page }}/{{ .MaxPage }}' id = 'btn3'>
                <input type = 'button' value = '' id = 'btn4'>
                <input type = 'button' value = '' id = 'btn5'>
            </div>
        </div>

        </div>
        </div>
        <div class="ElementsCenter LastRazdel">
            <br><br><br><br>
            <div class="TextDiv"><h1 class="big_artilce">Упс! Похоже, это всё.</h1>
            <p> Похоже, игр больше нет. Добавьте свою или следите за выходом новых!</p>
            <br><br><br></div>
        </div>
    </main>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript" src="/static/js/home.js"></script>
{{ end }}