.v_div {
    display: flex;
    flex-direction: column;
    /*background-color: aqua;*/
    min-height: 100vh;
}

.v_div.bck {
    background-image: linear-gradient(to top,#421952, #872341);
}

.v_div2 {
    display: flex;
    flex-direction: column;
}

.v_div_center {
    min-width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.CenterItems {
    position:absolute;
    top:50%; 
    left:50%; 
    transform:translate(-50%,-60%);
}

.CenterItems * {
    margin-bottom: 10px;
}

header * {
    display: inline-flex;
}

.HeaderBtn {
    transition: all .2s;
    color: aliceblue;
    font-size: 20px;

}

.HeaderBtn:hover{
    color:#ff6c61;
    filter: drop-shadow(#ff6c61 0px 0px 5px)
}

.header_content, .footer_content {
    width: 60%;
    color: aliceblue;
    display: flex;
    justify-content:  space-around;
    align-items: center;
}

.header_content * {
    font-size: 25px;
}

.big_artilce {
    font-size: 50px;
}

.h_container {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
}

.h_container.GamesContainer {
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
}

.h_container.Margin * {
    margin-right: 10px;
}

.h_container.Margin.StickyPos {
    position: sticky;
    left:40px;
    top: 20px;
    display:flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: #872341 0px 0px 20px; 
    z-index: 1000; 
    background-color: #872341;
    flex-wrap: wrap;
}

.ElementsCenter {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ElementsCenter.FirstRazdel {
    background-image: linear-gradient(to bottom, #22092C 40%, #872341);
}

.ElementsCenter.LastRazdel {
    background-image: linear-gradient(to top, #22092C 40%, #872341);   
}

.TextDiv{
    text-align: center;
    max-width: 900px;
}

.Game p {
    font-size: 15px;
}

@media (max-width: 600px) {
    .h_container.Margin.StickyPos {
        max-width: 500px;
        font-size: 10px;
    }

    .header_content *{
        font-size: 15px;
    }

    .big_artilce {
        font-size: 35px;
    }

    .TextDiv {
        max-width: 350px;
    }

    .Game {
        max-height: 330px;
    }

    .Game h1 {
        font-size: 20px;
    }

    .Game p {
        font-size: 15px;
    }
  }

.Game {
    text-align: center;
    margin: 30px;
    padding-top: 10px;
    box-shadow: black 0px 0px 10px;
    transition: all.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: auto;
    background: linear-gradient(to bottom, /*#1f1f1f*/ #872341 40%,#22092C);
    filter: saturate(0.7);
    background-position: 200px;
    background-size: 150%;
    border: 3px solid rgb(12, 12, 12);
}

.Game:hover{
    box-shadow: black 0px 0px 30px;
    background-position: 0px;
    scale: 1.1;
    border-radius: 20px;
    filter: saturate(1);
}

.Game *{
    margin: 5px;
}

.Game a{
    color: rgb(19, 19, 19);
}

.Game img {
    box-shadow: black 0px 0px 10px;
    width: 170px;
    height: 170px;
}